/**
 * --------------------------------------------
 * Author: Heshan Dinuka Lakmal
 * GitHub: https://github.com/Dinuka0512
 * --------------------------------------------
 * Created: 2/11/2025$ 3:42 AM$
 * Project: -My-portfolio$
 * --------------------------------------------
 **/
button{

}

body{
    background: rgb(0,24,32);
    background: linear-gradient(90deg, rgba(0,24,32,1) 0%, rgba(0,0,0,1) 50%, rgba(0,24,32,1) 100%);
}

main{
    margin-left: 150px;
    margin-right: 150px;
}

*{
    font-family: "Josefin Sans","sans-serif";
    color: white;
}

nav{
    position: fixed;
    display: flex;
    top: 0;
    height: 70px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.84);
    border: rgba(255, 255, 255, 0.52);
}

body>nav>button{
    background-color: transparent;
    border:transparent;
    font-size: 16px;
    margin-left: 5px;
    horiz-align: right;
}

body>main{
    margin-top: 100px;
}

#hero>section{
    margin-top: 100px;
    width: 50%;
}

#hero>section>button{
    background-color: rgba(54, 54, 54, 0.7);
    width: 150px;
    height: 45px;
    border-radius: 5px;
    border: transparent;

}

#hero{
    display: flex;
}

button{
    transition-duration: 1.15ms;
}

/*HOVERING*/
button:hover{
    box-shadow: rgba(255, 255, 255, 0.16) -4px 9px 25px -6px;
}

/*ACTIVE*/
button:active{
    opacity: 0.5;
}